{% extends 'TaxiLegionBundle::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('/css/bootstrap-datetimepicker.min.css') }}" type="text/css" rel="stylesheet" />
    {{ parent() }}
{% endblock %}

{% block nav %}
  {{ knp_menu_render('TaxiLegionBundle:Builder:managerMenu',{'template': 'TaxiLegionBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body %}
    <div class="section-option">
        <a href="#" class="btn btn-primary show-modal" data-action="show_order_form">
            <span class="glyphicon glyphicon-plus-sign"></span> Создать заявку</a>
        <a href="#" class="btn btn-primary show-modal" data-action="show_form_black_users">
            <span class="glyphicon glyphicon-plus-sign"></span> Добавить в черный список</a>
        <a href="#" class="btn btn-primary">
            <span class="glyphicon glyphicon-map-marker"></span> Карта</a>
    </div>
    <div class="section-option" id="orders">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                </thead>
                <tbody style=" height: 200px; overflow: auto;">
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                    <tr>
                        <th>#</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
 <script src="{{ asset('/js/jquery.js') }}" type="text/javascript"></script>
 <script src="{{ asset('/js/bootstrap.min.js') }}" type="text/javascript"></script>
 <script src="{{ asset('/js/jquery-form-ajax.js') }}" type="text/javascript"></script>
 <script src="{{ asset('/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
 <script src="{{ asset('/js/locales/bootstrap-datetimepicker.ru.js') }}" type="text/javascript"></script>
 <script src="{{ asset('/js/manager.js') }}" type="text/javascript"></script>
{% endblock %}