{% extends 'TaxiLegionBundle::base.html.twig' %}

{% block title %}Территориальные зоны{% endblock %}

{% block nav %}
    {{ knp_menu_render('TaxiLegionBundle:Builder:adminMenu',{'template': 'TaxiLegionBundle:Menu:knp_menu.html.twig'}) }}
{% endblock %}

{% block body %}
    <div class="section-option">
        <a href="{{ path('taxi_legion_area_create') }}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign"></span> Создать территориальную зону</a>
    </div>
    <div class="section-option">
        <div class="panel panel-primary">
            <div class="panel-heading">Список территориальных зон <span class="label label-info app-label pull-right">{{ area|length }}</span></div>
            {% if area %}
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Название</th>
                        <th>Наценка (руб.)</th>
                        <th>Опции</th>
                    </tr>
                    {% for item in area %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.adjustment }}</td>
                            <td><a href="{{ path('taxi_legion_area_edit', {'id': item.id }) }}" class="btn btn-warning btn-sm">
                                    <span class="glyphicon glyphicon-edit"></span> Редактировать</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="panel-body">
                    <span>Нет территориальных зон</span>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}